.profile__user {
  display: grid;
  align-items: baseline;
  grid-template-columns: repeat(2, auto);
  column-gap: 18px;
  row-gap: 11px;
}

@media screen and (max-width: 950px) {
  .profile__user {
    justify-items: center;
    column-gap: 10px;
    row-gap: 6px;
  }
}
