.header__logo {
  background-image: url(../../../images/header-logo.svg);
  width: 142px;
  height: 33px;
  background-size: 100%, cover;
  background-repeat: no-repeat;
  background-position: center center;
}

@media screen and (max-width: 550px) {
  .header__logo {
    width: 104px;
    height: 25px;
    margin-left: 27px;
  }
}
