.profile {
  padding: 0 200px 51px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@media screen and (max-width: 1279px) {
  .profile {
    padding: 0 100px 51px;
  }
}

@media screen and (max-width: 950px) {
  .profile {
    flex-direction: column;
    gap: 34px;
  }
}

@media screen and (max-width: 800px) {
  .profile {
    padding: 0 60px 36px;
  }
}

@media screen and (max-width: 550px) {
  .profile {
    padding: 0 19px 36px;
  }
}
