.popup__close-btn {
  width: 32px;
  height: 32px;
  padding: 0;
  position: absolute;
  right: -40px;
  top: -40px;
  border: none;
  background: none;
  background-image: url(../../../images/btn-close-icon.svg);
  background-repeat: no-repeat;
  background-size: contain;
  transition: opacity .2s;
}

.popup__close-btn:hover {
  cursor: pointer;
  opacity: .6;
}

@media screen and (max-width: 800px) {
  .popup__close-btn {
    width: 20px;
    height: 20px;
    right: 0;
    top: -36px;
  }
}
