.popup__save-btn {
  margin: 0;
  padding: 14px 0 13px;
  width: 358px;
  background: #000;
  color: #fff;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.22;
  border: none;
  border-radius: 2px;
  transition: opacity .2s;
}

.popup__save-btn:hover {
  cursor: pointer;
  opacity: .8;
}

@media screen and (max-width: 800px) {
  .popup__save-btn {
    font-size: 14px;
    width: 238px;
  }
}
