.profile__user-name {
  margin: 0;
  padding: 0;
  color: #fff;
  font-weight: 500;
  font-size: 42px;
  line-height: 1.14;
  max-width: 385px;
  justify-self: end;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

@media screen and (max-width: 950px) {
  .profile__user-name {
    margin-left: 34px;
  }
}

@media screen and (max-width: 550px) {
  .profile__user-name {
    font-size: 27px;
    line-height: 1.22;
    max-width: 210px;
    margin-left: 28px;
  }
}
